# Dependencies
/node_modules
.pnpm-store

# Production
/dist
/build
.env

# Testing
/coverage

# Debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.nyc_output

# Local development
.cache
.parcel-cache
.vscode-test

# Optional: Framework-specific files (add/remove as needed)
.next/ # Next.js
.nuxt/ # Nuxt.js
.svelte-kit/ # SvelteKit
